.news {
    width: 98%;
}
.news_main {
    display: flex;
    position: relative;
}
.news_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.news_swiper {
    position: relative;
    width: 1064px;
    height: 630px;
    overflow: hidden;
}
.news_swiper_ul {
    width: 3192px;
    height: 630px;
}
.news_swiper_ul li {
    float: left;
}
.news_nav {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.news_nav_card {
    display: flex;
    flex-direction: row;
    width: 526px;
    height: 210px;
    cursor: pointer;
    background: #f4f4f4;
    border-bottom: 2px solid #fff;
}
.news_nav_card:hover {
    border-bottom: 2px solid #e12726;
}
.news_nav_card_active {
    background: #fff;
}
.news_nav_card_active .news_nav_card_left {
    color: #e12726 !important;
}
.news_nav_card_left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 100%;
    font-size: 46px;
    color: #c9c9c9;
    font-weight: bold;
}
.news_nav_card_right {
    width: 407px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card_title {
    width: 90%;
    font-size: 18px;
    line-height: 20px;
    color: #252525;
    font-weight: 600;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card_tips {
    width: 90%;
    font-size: 14px;
    color: #7b7b7b;
    font-weight: 400;
    margin-bottom: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card_time {
    font-size: 12px;
    color: #7b7b7b;
    font-weight: 400;
}